<link rel="stylesheet" href="/app/assets/stylesheets/index.css">
<h1>IDEATHON HELPER</h1>
<%= link_to 'make your team!', new_team_path %>
<hr>
<div class="row">
    <% @teams.each do |team| %>
    <div class="col-lg-4 col-md-12 mb-5">
        <div class="card shadow">
            <div class="card-body">
                <%= link_to "#{team.team_name}",team_path(team), class:"card-title" %>
                <br>
                <div class="card-text">
                    <p>
                        <%= team.short_title() %>
                        <!-- team.title로 보여주는게 이쁘면 이걸로 ㄱ -->
                    </p>

                    <br>
                    <span style="float:right;">
                        <%= team.writer %>
                    </span>

                </div>

            </div>
        </div>
    </div>

    <% end %>

</div>