<h1>MY PAGE</h1>
<h2>소속 팀</h2>
<% if @team != nil %>

    <%= @status  %>  <%= @team.team_name%>

    <% else %>

    <p>소속 / 지원 중인 팀이 없습니다.</p>

<% end %>

<h2>지원중인 팀</h2>
<h2>투표한 팀</h2>
<p>최대 3개의 팀에 투표 가능</p>
<p></p>
<h2>피드백 구성 조</h2>
<!-- 팀 구성은 직접 오프라인으로 공지하는 것이 더 나을 수도..?
몇조인지 알려줄 것 -->