<h1 class="md-font text-center">공지사항</h1>
<hr style="height:1px;width:15%;">
<div class="">
    <h2 class="md-font">1. 일정</h2>
    <p class="xss-font">
        <b>
            1-1. 아이디어 제출(~27일)
        </b>
        <br>
        해당 페이지의 아이디어 제출은 6월27일까지입니다.
        <br>
        그 전까지 각자 개인의 아이디어를 올려주세요!
        <br><br>
        <b>
            1-2. 투표(25일~27일)
        </b>
        <br>
        투표는 25일부터 27일 자정까지 진행됩니다.
        <br>
        1인당 3팀에게 투표 가능합니다.
        <br>
        투표를 통해서 해당 아이디어에 관심이 있음을 보여주세요.
        <br>
        또한, 상위 득표 팀은 우선적으로 행사 당일 발표 기회를 드립니다.
        <br>
        (발표를 희망하는 팀장분에게도 시간 여건을 고려하여 추가 발표 기회를 드립니다.)
        <br><br>
        <b>
            1-3. 팀 삭제(28일 00:00 ~ 23:59)
        </b>
        <br>
        본인의 아이디어로 팀을 유지할 경우 다른 팀에 지원이 불가합니다.
        <br>
        29일 행사 당일엔 자신의 아이디어를 홍보하면서 팀원을 모집하는 시간을 갖습니다.
        <br><br>
        팀장으로 참가하실 분은
        <br>
        자신의 아이디어를 댓글로 받은 피드백을 기반으로 정리한 뒤 간단한 발표를 준비해주시면 됩니다.
        <br><br>
        팀원으로 참가하실 분은
        <br>
        팀을 삭제한 뒤 29일 아이디어톤에 팀원자격으로 참여하시면 됩니다.
        <br>
        같이 하고싶은 다른 사람의 아이디어가 있다면 투표와 댓글을 통해서 관심을 보여주세요!
    </p>
    <br><br><br>
    <div class="">
        <%= image_tag('plan.png', class:"notice-img", style:"")%>
    </div>
    <br><br>
    <br>
    <h2 class="md-font">
        <b>
            2. 당일 진행 아이디어톤
        </b>
    </h2>
    <p class="xss-font">
        행사 시작시간 : 1시
        <br>
        예상 종료시간 : 6시
        <br>
        장소 : 시립대 미래관 B203호
        <br><br>
        아이디어 발표 이후 팀원을 모집하는 시간을 갖습니다.
        <br>
        조를 이루어 피드백 하는 시간동안 본인이 원하는 조에 가서 얘기를 들어보고
        <br>
        피드백 타임이 종료된 이후 지원해볼 수 있습니다.
        <br>
        팀장과 대화를 통해서 [팀원 지원]-[수락]의 과정을 거쳐 팀을 구성하시면 됩니다.
    </p>
    <br><br><br><br><br><br>
</div>
