/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 
 *= require index
 *= require devise
 

 *= require_self
 */
 @font-face { font-family: 'BBTreeGR'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGR.woff') format('woff'); font-weight: normal; font-style: normal; }
 .BBTreeGR{
     font-family: 'BBTreeGR';
 }

 input{
     all:unset;
 }
 input[type="checkbox"]{
    padding-left:5px;
    padding-right:5px;
    border-radius:15px;

    -webkit-appearance:button;

    border: double black 2px ;

    background-color:white;
    color:white;
    white-space: nowrap;
    overflow:hidden;

    width:15px;
    height:15px;
 }
 input[type='checkbox']:checked {
    background-color :#0099ff;
}


nav{
    font-size: 1.3em;
}
.navbar-brand{
    font-size: 1.3em;
}

 .head-title{
     font-size:3em;
 }

.footer{
    padding:20px;
    text-align: center;
    color:white;
    background-color:black;
    font-size:2.3em;
}

.footer-fb a{
    all:unset;
    font-size: 0.5em;
}
.footer-for p{
    font-size:0.7em;
    color:#f7f7f7;
    font-family: italic
}

.lg-font{
    font-size:3.5em;
}
.md-font{
    font-size: 2.8em;
}
.sm-font{
    font-size:2.4em;
}
.xs-font{
    font-size:2em;
}